@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Manrope', -apple-system, serif;
}
.text-gradient {
    background: linear-gradient(to right, #00C7A3, #42F5A0 );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /*display: block;*/
}
